/* .slidev-layout:not(.cover) h1  {
    background-color: #2B90B6;
    background-image: linear-gradient(45deg, #4EC5D4 10%, #146b8c 20%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
} */

.slidev-layout{ 
    p {
        /* @apply text-4; */
        @apply mb-2 mt-3;
        line-height: 1.5;
    }

    /* li{
        @apply mt-2 mb-2;
        line-height: 15pt;
    } */
}

.footnotes-sep {
    @apply mt-30 opacity-10;
}
.footnotes {
    p, li{
        @apply text-2.5 opacity-75;
    }
}
/* .footnote-backref {
    display: none;
} */

