/* .slidev-layout:not(.cover) h1  {
    background-color: #2B90B6;
    background-image: linear-gradient(45deg, #4EC5D4 10%, #146b8c 20%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
} */

.slidev-layout{ 
    p {
        @apply mb-2 mt-3 text-3.3;
        line-height: 1.5;
        text-align: justify
    }
    
    li{
        @apply text-3.3;
        line-height: 1.5 !important;
    }
}

.col-left, .col-right{
    @apply w-105;
}

.footnotes-sep {
    @apply absolute left-13 right-23 top-120 opacity-10;
}
.footnotes-list {
    @apply absolute top-120 left-13 right-23;
    height: 30pt;
    overflow-y: scroll;
}
.footnotes {
    p, li{
        @apply text-2.5 opacity-75 ml-3;
    }
    p{
        @apply ml-1;
    }
    li{
        @apply mb--2;
    }
}
/* .footnote-backref {
    display: none;
} */

img{
    @apply ma;
}
.padded-img{
    padding: 0 10px;
}
figcaption {
    @apply text-2.5 opacity-85 text-center;
}

.color-info {
    color: var(--color-info);
}
.color-warning {
    color: var(--color-warning);
}
.color-error {
    color: var(--color-error);
}
